APP_NAME=ADN_Publicidad
APP_ENV=production
APP_KEY=base64:vSiH0XnWOJwmJph7d3ccGeeMYxwSZeKMSuPVe7RcIcY=
APP_DEBUG=false
APP_URL=https://app.adnpublicidad.site

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u266120157_adn_publicidad
DB_USERNAME=u266120157_adn_admin
DB_PASSWORD=Adn_2026

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

SESSION_SECURE_COOKIE=true

CACHE_STORE=database
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


VAPID_SUBJECT=https://www.adnpublicidad.site
VAPID_PUBLIC_KEY=BGuLaqMhdqKjkaoZL59ljYRksYZ_chq8hBihq3EO0dsaGebBovdjyjqMXNQEOMsVjQ8V8vxEmqwjaaYndVB3H9E
VAPID_PRIVATE_KEY=GcmKqMkbJ67mLgVrjZ4kuGPTwtA_TtfHw0MPB7krIts



ADN_PUBLIC_URL=https://www.adnpublicidad.site
ADN_ADMIN_URL=https://app.adnpublicidad.site
ADN_ENFORCE_DOMAINS=true

ADN_WEB_INTEGRATION_SECRET=b16429b0bdb293ca0787da29493a580d478d38eee3b66a900e979110a19cc10a
ADN_WEB_INTEGRATION_MAX_SKEW=300

ADN_WEB_EDITOR_URL=http://editor.adnpublicidad.site
ADN_WEB_EDITOR_ACCESS_TTL=90

ADN_WEB_URL=http://www.adnpublicidad.site
ADN_WEB_REQUEST_TIMEOUT=10
ADN_WEB_REQUEST_CONNECT_TIMEOUT=3

